version: '3.3'

services:
    db:
        image: postgres
        container_name: db
        restart: always
        env_file:
            - .env
        environment:
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: ${POSTGRES_DB}
        volumes:
            - postgresdata:/var/lib/postgresql/data
        ports:
            - 5432:5432
        networks:
            - my_network

    nginx:
        container_name: nginx
        restart: always
        volumes:
            - nginx_cache:/var/lib/nginx/proxy_cache
            - static:/app/www/static/
            - local_static:/var/www/local_static/
            - static:/var/www/static/:ro
            - acme.sh:/acme.sh:delegated
            - certs:/etc/nginx/certs
        build:
            context: ./nginx
        ports:
            - 80:80
            - 443:443
        env_file:
            - .env
        networks:
            - my_network

    backend:
        container_name: backend
        depends_on:
            - db
        build:
            context: backend
            args:
                - PORT=${PORT}
                - SITE_URL=${SITE_HOST}
                - POSTGRES_URL=${POSTGRES_URL}
                - JWT_SECRET=${JWT_SECRET}
                - EMAIL_SERVER_USER=${EMAIL_SERVER_USER}
                - EMAIL_SERVER_PASSWORD=${EMAIL_SERVER_PASSWORD}
                - EMAIL_SERVER_HOST=${EMAIL_SERVER_HOST}
                - EMAIL_SERVER_PORT=${EMAIL_SERVER_PORT}
                - EMAIL_FROM=${EMAIL_FROM}
                - CURRENCY_API=${CURRENCY_API}
                - CONVERT_CURRENCY=${CONVERT_CURRENCY}
                - TRANSLATE_API=${TRANSLATE_API}
                - SESSION_SECRET=${SESSION_SECRET}
                - MAGIC_LINK_SECRET=${MAGIC_LINK_SECRET}
        restart: always
        environment:
            PORT: ${PORT}
            SITE_URL: ${SITE_HOST}
            POSTGRES_URL: ${POSTGRES_URL}
            JWT_SECRET: ${JWT_SECRET}
            EMAIL_SERVER_USER: ${EMAIL_SERVER_USER}
            EMAIL_SERVER_PASSWORD: ${EMAIL_SERVER_PASSWORD}
            EMAIL_SERVER_HOST: ${EMAIL_SERVER_HOST}
            EMAIL_SERVER_PORT: ${EMAIL_SERVER_PORT}
            EMAIL_FROM: ${EMAIL_FROM}
            CURRENCY_API: ${CURRENCY_API}
            CONVERT_CURRENCY: ${CONVERT_CURRENCY}
            TRANSLATE_API: ${TRANSLATE_API}
            SESSION_SECRET: ${SESSION_SECRET}
            MAGIC_LINK_SECRET: ${MAGIC_LINK_SECRET}
        networks:
            - my_network

    frontend:
        container_name: frontend
        depends_on:
            - db
            - backend
        build:
            context: ./frontend
            args:
                - SITE_URL=${SITE_URL}
                - PROXY_URL=${PROXY_URL}
        restart: always
        env_file:
            - .env
        environment:
            SITE_URL: ${SITE_URL}
            PROXY_URL: ${PROXY_URL}
        networks:
            - my_network

volumes:
    postgresdata:
    nginx_cache:
    local_static:
    static:
    acme.sh:
    certs:

networks:
    my_network:
        driver: bridge
