extends ./base-template.pug

block header
    include ./partials/header.pug

block content
    div
        | Приветствуем вас в приложении Live Simply! Мы рады видеть вас в нашем сообществе.
        br
        | Чтобы продолжить, пожалуйста, перейдите по ссылке ниже для подтверждения вашей почты.
        br
        a(href=confirmationLink) Подтвердить почту
        br
        | Пожалуйста, имейте в виду, что в данный момент приложение находится на стадии разработки.
        br
        | Мы будем информировать вас о всех новых инструментах и обновлениях через email рассылку.
        br
        | Следите за нашими обновлениями и готовьтесь к удивительным возможностям, которые ждут вас в Live Simply!

block footer
    include ./partials/footer.pug
